{% include base_path %}

<div style="display: flex; align-items: center; justify-content: center; gap: 1rem;">
  <img src="{{ base_path }}/images/uoa_logo.png" alt="University logo"
       style="height: 60px; width: auto;">

  <p style="margin: 0; max-width: 900px; text-align: left;">
    The University of Alberta, its buildings, labs and research stations are primarily located on the territory of Néhiyaw (Cree), Niitsitapi (Blackfoot), Métis, Nakoda (Stoney), Dene, Haudenosaunee (Iroquois) and Anishinaabe (Ojibway/Saultaux), lands that are now known as part of Treaties 6, 7 and 8 and homeland of the Métis. The University of Alberta respects the sovereignty, lands, histories, languages, knowledge systems and cultures of all First Nations, Métis, and Inuit.
  </p>

  <img src="{{ base_path }}/images/engg_logo.png" alt="Faculty of Engineering logo"
       style="height: 60px; width: auto;">
</div>