{% include base_path %}

<meta charset="utf-8">

<title>{% if page.title %}{{ page.title }} {{ site.title_separator }} {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
<meta name="description" content="{{ page.excerpt | default: site.description | markdownify | strip_html | strip_newlines | escape_once }}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<script>
  document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + ' js ';
</script>

<link rel="stylesheet" href="{{ base_path }}/assets/css/main.css">
